<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body p-4 text-center">
        
        <div class="justify-content-center mb-4">
          <%= gravatar_for @user.email %>
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-floating mb-3">
            <%= f.text_field :name, class: "form-control form-control-lg", placeholder: "Name", autocomplete: "name" %>
            <%= f.label :name %>
          </div>

          <div class="form-floating mb-3">
            <%= f.text_field :username, class: "form-control form-control-lg", placeholder: "Username", autocomplete: "username" %>
            <%= f.label :username %>
          </div>

          <div class="form-floating mb-3">
            <%= f.text_field :website, class: "form-control form-control-lg", placeholder: "Website", autocomplete: "website" %>
            <%= f.label :website %>
          </div>

          <div class="form-floating mb-3">
            <%= f.text_area :bio, class: "form-control form-control-lg", placeholder: "Bio", autocomplete: "biography" %>
            <%= f.label :bio %>
          </div>

          <div class="form-floating mb-3">
            <%= f.email_field :email, class: "form-control form-control-lg", placeholder: "Email", autocomplete: "email" %>
            <%= f.label :email %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-floating mb-3">
            <%= f.password_field :current_password, class: "form-control form-control-lg", placeholder: "Current Password", autocomplete: "current-password" %>
            <%= f.label :current_password %>
          </div>

          <div class="form-floating mb-3">
            <%= f.password_field :password, class: "form-control form-control-lg", placeholder: "Password", autocomplete: "new-password" %>
            <%= f.label :password %>
          </div>

          <div class="form-floating mb-3">
            <%= f.password_field :password_confirmation, class: "form-control form-control-lg", placeholder: "Password Confirmation", autocomplete: "new-password" %>
            <%= f.label :password_confirmation %>
          </div>

          <div class="actions d-grid">
            <%= f.submit "Update", class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>
        <hr class="my-4">
        <p>Unhappy? <span> <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %> </span></p>
      </div>
    </div>
  </div>
</div>
