<div class="me-4 mt-2 d-flex flex-column">
	<p class="img-fluid mt-1"><%= gravatar_for user.email %></p>
	<% if policy(user).edit? %>
		<%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-outline-dark" %>
	<% else %>
		<div id="follow_actions">
			<% if current_user.following?(user) %>
				<%= render 'unfollow_form' %>
			<% else %>
				<%= render 'follow_form' %>
			<% end %>
		</div>
	<% end %>
</div>

<div class="mt-3 ms-4">
	<div class="wrapper align-items-center">
		<h2 class="username"><%= user.name %></h2>
		<% if !user.website.blank? %>
			<%= link_to user.website do %>
					<span class="ms-3"><i class="fa fa-external-link-alt" aria-hidden="true"></i></span>
			<% end %>
		<% end %>
	</div>
	<p class="email"><%= user.email %></p>
	<p><%= user.bio %></p>
	<%= render 'stats', user: @user %>
</div>