<ul class="nav tabs">
  <li class="nav-item">
    <a class="nav-link active" id="pills-posts-tab" href="#" data-bs-toggle="pill" data-bs-target="#pills-posts" role="tab" aria-controls="pills-posts" aria-selected="false">
      POSTS
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-liked-tab" href="#" data-bs-toggle="pill" data-bs-target="#pills-liked" role="tab" aria-controls="pills-tagged" aria-selected="false">
      LIKED
    </a>
  </li>
</ul>
<div class="tab-content py-4 profile-tabs" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-posts" role="tabpanel" aria-labelledby="pills-home-tab">
    <%= turbo_frame_tag "posts_paginate_page" do %>
      <div class="row g-2">
          <% posts.each do |post| %>
              <div class="col-6 mx-auto">
                <%= link_to [user, post], data: { turbo_frame: "_top" } do %>
                  <%= render 'posts/carousel', post: post %>
                <% end %>
              </div>
          <% end %>
          <div class="d-flex justify-content-center mt-5">
            <%= paginate posts, class: "pagination" %>
          </div>
      </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="pills-liked" role="tabpanel" aria-labelledby="pills-liked-tab">
    <%= turbo_frame_tag "liked_paginate_page" do %>
      <div class="row g-2">
        <% liked.each do |post| %>
            <div class="col-6 mx-auto">
              <%= link_to [user, post], data: { turbo_frame: "_top" } do %>
                <%= render 'posts/carousel', post: post %>
              <% end %>
            </div>
        <% end %>
        <div class="d-flex justify-content-center mt-5">
          <%= paginate liked, class: "pagination" %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div> 