<% if post.images.size > 1 %>
<div id="carousel-post-<%= post.id %>" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    <% if post.images.attached? %>
      <% post.images.each do |image| %>
        <% if image.variable? %>
          <% if image == post.images.first %>
            <div class="carousel-item active" data-bs-interval="3000">
          <% else %>
            <div class="carousel-item" data-bs-interval="4000">
          <% end %>
           <%= image_tag image.variant(resize_to_limit: [600, 600]), class: 'd-block w-100' %>
          </div>
        <% end %>
      <% end  %>
    <% end %>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-post-<%= post.id %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-post-<%= post.id %>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<% else %>
  <%= image_tag post.images.first.variant(resize_to_limit: [600, 600]) %>
<% end %>